<div class="container-fluid">  
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="panel panel-primary">
        <li><a href="#/usuarios/" ng-show="usrConectado.rol==1">Mantenedor de Usuarios</a></li>
        <li><a href="#/productos/mantenedorProductos/" ng-show="usrConectado.rol==1">Mantenedor de Productos</a></li>
        <li><a href="#/productos/">Productos</a></li>
        <li><a href="#/registro/" ng-show="usrConectado.estaConectado==false">Registro</a></li>
        <li><a href="#/inicio/" ng-show="usrConectado.estaConectado==false">Login</a></li>
      <form class="navbar-form navbar-right" ng-show="usrConectado.estaConectado">
        <button class="btn btn-danger" ng-click="salir()">Salir</button>
      </form>
	</div>
  </nav>
</div>  
