<div style="background-color: #58FA58;border-color: #000000">
       <div> Detalle <br>
       
        <label for="descripcion">Descripcion de producto</label>
        <input name="descripcion" type="text" ng-model="formMostrar.descripcion"/>
        <br>
        		<ul>
                    <li ng-repeat="(k,v) in listadoatributos">
	                   Clave: {{k}}   
	                   Valor: {{v}}  
                    </li>
            	</ul> 
       </div>
       <button onclick="window.history.back()">Atras</button>
</div>