<style>
.table td.tdRight {
	text-align: right;
}

.table td.tdCenter {
	text-align: center;
}

.table-nonfluid {
	width: auto;
}
</style>
<a href="#/home/">Volver al home</a>
<br>
<a href="" ng-click="carro.mostrarTodo()" ng-show="usrConectado.rol==1">MostrarLocalStorage</a>
<br>
<a href="" ng-click="carro.mostrarCarros()"
	ng-show="usrConectado.rol==1">Mostrar productos del carro del
	LocalStorage</a>
<br>
<a href="" ng-click="carro.clearLocalStorage()"
	ng-show="usrConectado.rol==1">Limpiar LocalStorage</a>
<a href="" ng-click="store.mostrarCarros()"
	ng-show="usrConectado.rol==1">Mostrar carros del localstorage</a>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="input-group">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-search"></i></span> <input type="text"
				class="form-control" placeholder="Buscar Producto"
				ng-model="buscar.materno">
		</div>
	</div>


	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr class="well">
					<td class="tdRight" colspan="4"><span
						class="glyphicon glyphicon-shopping-cart"></span> <a
						href="#/carro/" title="Comprar" ng-disabled="carro.getTotal() < 1">
							Carro: <!-- mensaje cuando existen productos en el carro--> <b
							ng-show="carro.getTotal() >= 1"> Hay {{carro.getTotal()}}
								producto en el carro</b> <br>Total:${{carro.getPrecioTotal()}}<br>

							<!-- mensaje cuando no existen productos en el carro --> <b
							ng-show="carro.getTotal() <= 0"> No hay productos en el carro</b>

					</a> <!--    <a ng-show="carro.getTotal() >= 1" href="#/editarCarro/" title="Editar Carro" ng-disabled="carro.getTotal()>1"> Editar Carro </a>  -->
					</td>
				</tr>

				<tr>
					<th><a href="" ng-click="ordenarPor('nombre')"> Productos
					</a> <span class="caret" style="cursor: pointer"
						ng-click="ordenarPor('-nombre')"></span></th>
					<th>Precio</th>
					<th>Cantidad en stock</th>
					<th></th>
				</tr>

			</thead>
			<tbody>
				<tr
					ng-repeat="productos in listado | orderBy:ordenSeleccionado | filter:buscar">
					<td>{{productos.nombre | uppercase}}</td>
					<td>${{productos.precio}}</td>
					<td>{{productos.stock}}</td>
					<td><a href=""
						ng-click="carro.agregarProducto(productos.id, productos.nombre, productos.precio, productos.stock,  1)">Agregar
							al carro</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<button href="" ng-click="retroceder()">Retroceder</button>
	<button href="" ng-click="avanzar()">Avanzar</button>
</div>