<div style="background-color: #81F7D8; border-color: #000000">
	<div>
		<label for="categorias">Categoria</label>
		<select name="categoriasSelect" id="categoriasSelect" ng-model="formAgregar.categorias" ng-change="mostrarMarca(formAgregar.categorias)">
		    <option value="" disabled="" selected="" class="ng-binding">Seleccione Categoria</option>
      		<option ng-repeat="option in categorias" ng-value="{{option.id}}">{{option.nombrecategoria}}</option>
   		 </select>
		<br>
		<label for="marcas">Marca</label> 
 		<select name="marcasSelect" id="marcasSelect" ng-model="formAgregar.marcas"> 
 		    <option value="" disabled="" selected="" class="ng-binding">Seleccione Marca</option>
       		<option ng-repeat="opciones in marcas" value="{{opciones.id}}">{{opciones.nombremarca}}</option>      		 
    	</select>   
		  
		<br> 
		<label for="nombreproducto">Nombre Producto</label> 
		 <input name="nombreproducto" type="text" ng-model="formAgregar.nombreproducto"> <br> 
		<label for="precio">Precio</label> 
		 <input name="precio" type="text" ng-model="formAgregar.precio"> <br> 
		<label for="descripcion">Descripcion</label> 
		 <input name="descripcion" type="text" ng-model="formAgregar.descripcion">
		 <input name="descripcion" type="text" class="ng-hide" ng-model="formAgregar.idCategoriaMarca">
		<!-- ACA FALTA AGREGAR UNA FUNCIONALIDAD QUE PERMITA INGRESAR MULTIPLES CLAVE VALOR -->
	</div>
	<br>
	<button ng-click="save()">Guardar</button>
	<button onclick="window.history.back()">Atras</button>
</div>