<div style="background-color: #58FA58;border-color: #000000">
       <div> Formulario Editar Usuario 
       
        <label for="nombre">Nombre Completo</label>
        <input name="nombre" type="text" ng-model="formEditar.nombre"/>
       
       <label for="email">Email</label>
       <input name="email" type="text" ng-model="formEditar.email"/>
       
       <label for="telefono">Telefono</label>
       <input name="telefono" type="text" ng-model="formEditar.telefono"/>
       </div>
         <button ng-click="editarUsuario()">Modificar</button>       
       <button onclick="window.history.back()">Atras</button>
</div>